@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: #333;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

main{
    min-height: calc(100vh - 150px);
}

.logo {
    width: 120px;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.navigation li a:hover {
    color: #017143;
    transition: 0.4s;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 35px;
    font-size: 20px;
    justify-content: flex-end;
}

.social-links ion-icon:hover {
    color: #017143;
    transition: 0.4s;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.text-box {
    display: flex;
    flex-direction: column;
}

.text-box h2 {
    font-size: 4em;
    font-weight: 500;
    line-height: 1.5em;
    margin: 0 0 15px 0;
}

.text-box h2 span {
    color: #017143;
    font-weight: 900;
    font-size: 1.2em;
}

.text-box p {
    max-width: 560px;
    margin-bottom: 40px;
}

.text-box a {
    color: #017143;
    font-size: 20px;
    border: 1px solid #017143;
    border-radius: 20px;
    padding: 10px;
    width: 160px;
    text-align: center;
}

.text-box a:hover {
    transition: 0.4s;
    background-color: #017143;
    color: white;
}

.starbucks {
    width: 330px;
}

.thumbs ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.thumbs img {
    max-width: 60px;
    cursor: pointer;
    transition: 0.4s;
}

.thumbs img:hover {
    transform: translateY(-15px);
}

.thumbs input {
    appearance: none;
} 

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
    z-index: -1;
}

@media (max-width: 900px){
    
    .navigation, .social-links, .circle{
        display: none;
    }

    header{
        justify-content: center;
    }

    .logo{
        width: 95px;
    }

    .content{
        flex-direction: column;
    }

    .text-box{
        justify-content: center;
    }

    .text-box h2{
        font-size: 2em;
        align-self: center;
        padding: 20px;
    }

    .text-box p{
        padding: 15px;
    }

    .text-box a{
        width: 120px;
        font-size: 15px;
        align-self: center;
        margin-bottom: 40px;
    }

    .starbucks{
        width: 250px;
    }

    .thumbs{
        margin: 40px;
        padding: 15px;
    }
}